<mat-toolbar color="primary">ArtDeFi</mat-toolbar>
<div *ngIf="this.artist" class="dashboard">
  <mat-card class="artist-card">
    <mat-card-header>
      <div mat-card-avatar>
        <div [innerHTML]="artistIcon"></div>
      </div>
      <mat-card-title>Artwork Statistics</mat-card-title>
      <!--<mat-card-subtitle>{{this.artist.id}}</mat-card-subtitle>-->
      <mat-card-subtitle>{{this.account}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Total Primary Income: {{this._displayBN(this.artist.totalPrimaryIncome)}} ETH
      <br>
      Total Royalty: {{this._displayBN(this.artist.totalRoyalty)}} ETH
    </mat-card-content>
  </mat-card>

  <mat-card class="finance-card">
    <mat-card-header>
      <mat-card-title>Deposit</mat-card-title>
    </mat-card-header>
    <mat-card-content class="finance-card-content">
      <mat-form-field appearance="fill">
        <mat-label>Collateral {{this._displayBN(this.balance)}}</mat-label>
        <input matInput placeholder="0.000" [(ngModel)]="depositInput">
        <span matSuffix>DAI</span>
        <mat-hint>Max: {{this._displayBN(this.walletBalance)}}</mat-hint>
      </mat-form-field>
      <button mat-mini-fab *ngIf="this.isDepositLoading; else depositAllowedBlock" color="accent" disabled><mat-spinner diameter="24" class="spinner" color="warn"></mat-spinner></button>
      <ng-template #depositAllowedBlock>
        <button mat-mini-fab *ngIf="this.isErc20Locked; else unlockedBlock" color="accent" (click)="unlockERC20()" [disabled]="this.isDepositLoading"><mat-icon>lock</mat-icon></button>
        <ng-template #unlockedBlock><button mat-mini-fab color="accent" [disabled]="this.isDepositLoading" (click)="deposit()"><mat-icon>archive</mat-icon></button></ng-template>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card class="scoring-card">
    <mat-card-header>
      <mat-card-title>Scoring</mat-card-title>
    </mat-card-header>
    <mat-card-content class="scoring-card-content">
      {{this._displayScoring(this.scoring)}}
      <button mat-mini-fab color="accent" [disabled]="this._isZero(this.balance)" (click)="populateUserArtworkIncome()"><mat-icon>refresh</mat-icon></button>
    </mat-card-content>
  </mat-card>

  <mat-card class="finance-card">
    <mat-card-header>
      <mat-card-title>Loan</mat-card-title>
    </mat-card-header>
    <mat-card-content class="finance-card-content">
      <mat-form-field appearance="fill">
        <mat-label>Loan {{this._displayBN(this.loan)}}</mat-label>
        <input matInput placeholder="0.000">
        <span matSuffix>DAI</span>
        <mat-hint>Max: {{this._getMaxLoan()}} ({{this._getMaxLoanPercentage()}}%)</mat-hint>
      </mat-form-field>
      <button mat-mini-fab *ngIf="this.isLoanLoading; else loanAllowedBlock" color="accent" disabled><mat-spinner diameter="24" class="spinner" color="warn"></mat-spinner></button>
      <ng-template #loanAllowedBlock>
        <button mat-mini-fab color="accent" [disabled]="this._isZero(this.balance) || this.isLoanLoading" (click)="borrow()"><mat-icon>unarchive</mat-icon></button>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="this.artist" class="dashboard">
  <mat-accordion>
  <mat-expansion-panel *ngFor="let marketplaceArtworks of artworks; let marketplace = index">
    <mat-expansion-panel-header>
      <mat-panel-title>{{getMarketplace(marketplace)}} ({{marketplaceArtworks.length}})</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="artworks-content">
      <mat-card *ngFor="let artwork of marketplaceArtworks" class="artwork-card" >
        <mat-card-header>
          <mat-card-title>{{artwork.name}}</mat-card-title>
          <mat-card-subtitle *ngIf="artwork.getLastTransferPriceInEther(); else noLastPriceBlock">
            <!--{{artwork.artist}}<br>-->(Previously Sold: {{artwork.getLastTransferPriceInEther()}} ETH)</mat-card-subtitle>
          <ng-template #noLastPriceBlock><mat-card-subtitle>{{artwork.artist}}</mat-card-subtitle></ng-template>
        </mat-card-header>
        <img mat-card-image src="{{artwork.imageUrl}}">
        <mat-card-content>
          <p>
            {{artwork.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-icon-button href="{{artwork.detailUrl}}" target="_blank" color="accent">
            <mat-icon>launch</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
</div>