.mat-toolbar {
  font-family: courier;
  font-size: x-large;
}

.dashboard {
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
}

.artist-card {
  max-width: 400px;
  margin-top: 15px;
}

.finance-card {
  max-width: 500px;
  margin-top: 15px;
  margin-left: 15px;
}

.finance-card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.scoring-card {
  max-width: 500px;
  margin-top: 15px;
  margin-left: 15px;
}

.scoring-card-content {
  font-size: large;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.mat-form-field {
  margin-right: 15px;
  margin-bottom: 10px;
  max-width: 160px;
}

.artworks-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.artwork-card {
  max-width: 200px;
  margin: 5px;
}
